.DS_Store
target
solucion
enunciado
parte1/target
parte2/target
parte1/.idea
parte2/.idea
parte1/.idea/
parte2/.idea/
parte1/.settings
parte2/.settings
parte1/.settings/
parte2/.settings/
parte1/.classpath
parte2/.classpath
parte1/.classpath/
parte2/.classpath/
parte1/.project
parte2/.project
parte1/.project/
parte2/.project/
parte1/bin
parte2/bin
parte1/bin/
parte2/bin/
